<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
>
    <?if $(var.Arch) = 386 ?>
    <?define ProdId = {9ddce371-ae4b-4dea-953e-4584d027ef80} ?>
    <?define UpgradeCode = {6a467efb-3552-428b-8965-6d709f1c441a} ?>
    <?define SysFolder=SystemFolder ?>
    <?define PlatformArch=x86 ?>
    <?define ProgramFilesDir=ProgramFilesFolder ?>
    <?else?>
    <?define ProdId = {9ddce371-ae4b-4dea-953e-4584d027ef80} ?>
    <?define UpgradeCode = {6a467efb-3552-428b-8965-6d709f1c441a} ?>
    <?define SysFolder=System64Folder ?>
    <?define PlatformArch=x64 ?>
    <?define ProgramFilesDir=ProgramFiles64Folder ?>
    <?endif?>

    <Product
            Id="*"
            Name="WSO2 $(var.prodTitle) $(var.prodVersion)"
            Language="1033"
            Version="$(var.WixprodVersion)"
            Manufacturer="https://wso2.com"
            UpgradeCode="$(var.UpgradeCode)">
        <Package
                Id='*'
                Keywords='Installer'
                Description="The WSO2 $(var.prodTitle) $(var.prodVersion) Installer"
                Comments="The WSO2 $(var.prodTitle) $(var.prodVersion) Installer."
                InstallerVersion="300"
                Compressed="yes"
                InstallScope="perMachine"
                Languages="1033"
                Platform="$(var.PlatformArch)"/>

        <Property Id="ARPCOMMENTS"
                  Value="WSO2 $(var.prodTitle) $(var.prodVersion)"/>
        <Property Id="ARPCONTACT" Value="https://wso2.com"/>
        <Property Id="ARPHELPLINK" Value="https://wso2.com"/>
        <Property Id="ARPREADME" Value="https://wso2.com"/>
        <Property Id="ARPURLINFOABOUT" Value="https://wso2.com"/>
       
        <Media Id='1' Cabinet="$(var.prodName)Environment.cab" EmbedCab="yes" CompressionLevel="high"/>
        <Condition Message="Windows XP or greater required.">VersionNT >= 500</Condition>
        <MajorUpgrade AllowDowngrades="yes"/>
        <SetDirectory Id="INSTALLDIRROOT" Value="[$(var.ProgramFilesDir)]WSO2\$(var.prodTitle)"/>
        <CustomAction
                Id="SetApplicationRootDirectory"
                Property="ARPINSTALLLOCATION"
                Value="[INSTALLDIR]"/>
        <!-- Define the directory structure and environment variables -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIRROOT">
                <Directory Id="INSTALLDIR" Name="$(var.prodVersion)">
                    <Component Id="INSTALLFOLDER_Permission" Guid="{5afe5fb2-55bc-4f96-9778-b79ad00107ae}"> 
                        <CreateFolder> 
                            <util:PermissionEx User="Users" GenericAll="yes"/> 
                        </CreateFolder> 
                    </Component> 
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="PROG_WSO2_DIR" Name="WSO2">
                    <Component Id="PMENU_WSO2_DIR" Guid="{9a7cbd96-3629-431f-b71c-30066fa8aad4}"> 
                        <CreateFolder/>
                        <RemoveFolder
                                Id="RemovePROG_WSO2_DIR"
                                On="uninstall"/>
                        <RegistryValue
                            Root="HKCU"
                            Name="WSO2Dir"
                            Key="Software\$(var.prodName)-$(var.prodVersion)"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"/>
                    </Component>
                    <Directory Id="PROG_PROD" Name="$(var.prodTitle)">
                        <Component Id="PMENU_PROG_PROD" Guid="{fc1327fd-ba74-4614-be4c-5f22aa02b486}"> 
                            <CreateFolder/>
                            <RemoveFolder
                                Id="RemovePROG_PROD"
                                On="uninstall"/>
                            <RegistryValue
                            Root="HKCU"
                            Name="ProdDir"
                            Key="Software\$(var.prodName)-$(var.prodVersion)"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"/>
                        </Component>
                        <Directory Id="$(var.prodName)EnvironmentProgramShortcutsDir" Name="$(var.prodVersion)"/>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="EnvironmentEntries">
                <Directory Id="$(var.prodName)EnvironmentEntries" Name="$(var.prodName)-$(var.prodVersion)"/>
            </Directory>
        </Directory>
        
        <!-- Programs Menu Shortcuts -->
        <DirectoryRef Id="$(var.prodName)EnvironmentProgramShortcutsDir">
            <Component Id="Component_$(var.prodName)ProgramShortCuts" Guid="{d517dd03-b662-42f3-b50e-2c0fe31054e8}">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                    Name="$(var.prodTitle) $(var.prodVersion)" 
                    Description="WSO2 $(var.prodTitle) $(var.prodVersion)"
                    Target="[INSTALLDIR]bin\$(var.prodName)-$(var.prodVersion).bat"
                    WorkingDirectory="INSTALLDIR"/>
                <Shortcut
                        Id="UninstallShortcut"
                        Name="Uninstall $(var.prodTitle) $(var.prodVersion)"
                        Description="Uninstalls WSO2 $(var.prodTitle) $(var.prodVersion)"
                        Target="[SystemFolder]msiexec.exe"
                        Arguments="/x [ProductCode]"/>
                <RemoveFolder Id="Remove$(var.prodName)EnvironmentProgramShortcutsDir"
							  On="uninstall" />
                <RegistryValue
                        Root="HKCU"
                        Key="Software\$(var.prodName)-$(var.prodVersion)"
                        Name="ShortCuts"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"/>
            </Component>
        </DirectoryRef>
       
        <!-- Registry & Environment Settings -->
        <DirectoryRef Id="$(var.prodName)EnvironmentEntries">
            <Component Id="Component_$(var.prodName)Environment" Guid="{f9f2e5e9-d6fb-4ef3-8faf-38b5fd283237}">
                <RegistryKey
                        Root="HKCU"
                        Key="Software\$(var.prodName)-$(var.prodVersion)"
                        Action="create">
                    <RegistryValue
                            Name="installed"
                            Type="integer"
                            Value="1"
                            KeyPath="yes"/>
                    <RegistryValue
                            Name="installLocation"
                            Type="string"
                            Value="[INSTALLDIR]"/>
                </RegistryKey>
				<!-- <RegistryKey
                        Root="HKCR"
                        Key=".$(var.prodName)\DefaultIcon"
                        Action="createAndRemoveOnUninstall">
                    <RegistryValue
                            Type="string"
                            Value="[INSTALLDIR]\icons\prodo-teal.ico"/>
                </RegistryKey>
				<RegistryKey
                        Root="HKCR"
                        Key=".prodx\DefaultIcon"
                        Action="createAndRemoveOnUninstall">
                    <RegistryValue
                            Type="string"
                            Value="[INSTALLDIR]\icons\prodx-teal.ico"/>
                </RegistryKey>
				<RegistryKey
                        Root="HKCR"
                        Key=".prod\DefaultIcon"
                        Action="createAndRemoveOnUninstall">
                    <RegistryValue
                            Type="string"
                            Value="[INSTALLDIR]\icons\prod-teal.ico"/>
                </RegistryKey> -->
                <Environment
                        Id="$(var.prodName)Home"
                        Action="set"
                        Part="all"
                        Name="$(var.prodName)_HOME"
                        Permanent="no"
                        System="yes"
                        Value="[INSTALLDIR]"/>
                <Environment
                        Id="$(var.prodName)EnvironmentPathEntry"
                        Action="set"
                        Part="last"
                        Name="PATH"
                        Permanent="no"
                        System="yes"
                        Value="%$(var.prodName)_HOME%\bin"/>
                <RemoveFolder
                        Id="Remove$(var.prodName)EnvironmentEntries"
                        Directory="$(var.prodName)EnvironmentEntries"
                        On="uninstall"/>
            </Component>
        </DirectoryRef>
        <!-- Install the files -->
        <Feature
                Id="$(var.prodName)Tools"
                Title="$(var.prodName)"
                Level="1">
            <ComponentRef Id="Component_$(var.prodName)Environment"/>
            <ComponentGroupRef Id="AppFiles"/>
            <ComponentRef Id="Component_$(var.prodName)ProgramShortCuts"/>
            <ComponentRef Id="INSTALLFOLDER_Permission"/>
            <ComponentRef Id="PMENU_WSO2_DIR"/>
            <ComponentRef Id="PMENU_PROG_PROD"/>
        </Feature>

        <UI>
            <UIRef Id="WixUI_InstallDir"/>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="PrepareDlg" Order="5">
                WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"
            </Publish>
            <Publish Dialog="ExitDialog" 
                Control="Finish" 
                Event="DoAction" 
                Value="LaunchApplication">
                WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
            </Publish>
        </UI>

        <!-- Update the environment -->
        <InstallExecuteSequence>
            <Custom Action="SetApplicationRootDirectory" Before="InstallFinalize"/>
        </InstallExecuteSequence>
        <!-- Include the user interface -->
        <WixVariable Id="WixUIBannerBmp" Value="resources/Banner.jpg"/>
        <WixVariable Id="WixUIDialogBmp" Value="resources/Dialog.jpg"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch WSO2 $(var.prodTitle) $(var.prodVersion)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXX" Value="50" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXY" Value="50" />

        <Property Id="WixShellExecTarget" Value="[INSTALLDIR]bin\$(var.prodName)-$(var.prodVersion).bat" />
        <CustomAction Id="LaunchApplication" 
            BinaryKey="WixCA" 
            DllEntry="WixShellExec"
            Impersonate="yes" />
    </Product>
</Wix>